.host-and-language-button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.host-and-language-button > div {
  cursor: pointer;
  border-radius: 22px;
  padding: 12px;
  color: #222222;
}

.host-and-language-button > div:hover {
  background-color: #f7f7f7;
}

.host {
  font-size: 14px;
  font-weight: 600;
}

.language > svg {
  display: block;
  height: 16px;
  width: 16px;
  fill: currentcolor;
}
