.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  padding-bottom: 60px;
  height: 80px;
  display: flex;
  gap: 14px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  padding: 0 40px;
}
