.concept-nav {
  position: sticky;
  top: 62px;
  background-color: white;
  z-index: 1;

  padding: 20px 40px 0;
  display: flex;
  align-items: center;
  gap: 24px;
  box-shadow: 0.1px 1px 5px #dddddd;
}

.concept-nav__content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.concept-nav__list {
  display: flex;
  gap: 32px;
}

.concept-nav__item {
  cursor: pointer;
  opacity: 0.6425339366515838;
  transition: opacity 0.2s cubic-bezier(0.2, 0, 0, 1);
  transition: transform 0.2s ease;
}

.concept-nav__item:active {
  transform: scale(0.9);
}

/* '선택된 + 호버된' 일 떄 border-bottom 중복 */
.concept-nav__item:hover {
  border-bottom: 3px solid gainsboro;
  opacity: 1;
}

.concept-nav__item--selected {
  border-bottom: 3px solid #000000;
  opacity: 1;
}

.concept-nav__item--selected:hover {
  border-bottom: 3px solid #000000;
}

.item {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.item__text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.concept-nav__prev,
.concept-nav__next {
  padding: 7px;
  border: 0.5px solid rgb(0 0 0/0.3);
  border-radius: 50%;
  transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);
  cursor: pointer;
}

.concept-nav__prev:hover,
.concept-nav__next:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  transform: scale(1.04);
}

/* 부모요소 hover 시 어색함 */
.concept-nav__prev svg,
.concept-nav__next svg {
  display: block;
  fill: none;
  height: 12px;
  width: 12px;
  stroke: currentcolor;
  stroke-width: 5.33333;
  overflow: visible;
}

.concept-nav__filter {
  border: 1px solid #dddddd;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  color: #222222;
}

/* 부 */
.concept-nav__filter svg {
  display: block;
  height: 14px;
  width: 14px;
  fill: currentcolor;
}

.concept-nav__filter span {
  display: block;
  font-size: 12px;
  font-weight: 600;
}
