.main-logo-link {
  position: relative;
}

.main-logo-link::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
}

.main-logo-link > svg {
  display: block;
  color: #ff385c;
}
