#mainlogolink {
  position: relative;
}

#mainlogolink::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
}

#mainlogolink svg {
  display: block;
  color: #ff385c;
}
