.account {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 12px;
  gap: 12px;
  border: 1px solid #dddddd;
  border-radius: 21px;
  transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);
  cursor: pointer;
}

.account:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.account__hamburger > svg {
  display: block;
  height: 16px;
  width: 16px;
  stroke: currentcolor;
  stroke-width: 3;
  fill: currentcolor;
  color: #222222;
}

.account__person > svg {
  display: block;
  height: 24px;
  width: 24px;
  fill: currentcolor;
  color: #717171;
}
