.search {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);
}

.search:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.search__divline {
  width: 1px;
  height: 24px;
  background-color: #dddddd;
}

.search__text {
  font-size: 14px;
  font-weight: 600;
  color: #222222;
}

.search__text--light {
  font-size: 14px;
  font-weight: 400;
  color: #717171;
}

.search > div:first-child {
  margin-left: 7px;
  padding-left: 10px;
}

.search > div:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.search__icon {
  margin: 7px 7px 7px 0;
  padding: 10px;
  border-radius: 50%;
  background-color: #ff385c;
  color: #ffffff;
}

.search__icon > svg {
  display: block;
  fill: none;
  height: 12px;
  width: 12px;
  stroke: currentcolor;
  stroke-width: 5.33333;
  overflow: visible;
}
