header > .container {
  margin-top: 12px;
  margin-bottom: 12px;

  padding: 0px 24px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 0.7rem;
}

header .item {
  flex-grow: 0;
  margin-right: 8px;
}

header .item:hover {
  cursor: pointer;
}

header .item > span:hover {
  color: blueviolet;
}

header .last-item {
  flex-grow: 0;
  margin-right: 0px;
}

header .full {
  flex-grow: 1;
  margin-right: 16px;
}

header .full > input {
  width: 100%;
}

header button {
  padding: 12px;
  border: 1.5px solid;
}

header button:hover {
  cursor: pointer;
}

header button.bg-white {
  background-color: white;
  border-color: black;
  color: black;
}

header button.bg-black {
  background-color: black;
  border-color: black;
  color: white;
}

header .py {
  padding-top: 7.4px;
  padding-bottom: 7.4px;
}

header .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}
